error = <%= !@subscription.errors.empty? %>;
errors = <%= @subscription.errors.full_messages.to_json.html_safe %>;
$('div.msg').remove();
if(error){
  html = "<div class=\"msg green text-center\"><%= @subscription.errors.full_messages.join(', ') %></div>"
  $('.email-input').parents('form').append(html);
}else{
  html = "<div class=\"msg green text-center\">Thank you! We will get in touch with you shortly</div>"
  $('.email-input').parents('form').append(html);
  $('.email-input').val('');
}