body{
	font-family: 'nexa';
	color: #595658;
	font-size: 15px;
	overflow-x: hidden;
}

.gray-background{background-color: #f2f0f0; }
.green{color: #98bf11;}
.green-bk{background: #98bf11;}
.white{color: #fff;}
.btn-primary{background: #98bf11; border: none;}

.btn-login:focus, .btn-login:hover, .btn-primary:hover, .btn-primary:active, .btn-primary:focus{
  background: #9c9aa0; 
  color: #fff;
}

.form-control:focus{
  border-color: #98bf11;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.width-full{width: 100%;}
.form-group>input{
  margin-top: 2px;
}

.alert-error{color: red;}
.alert-green{color: green;}

.btn{margin-bottom: 2px;}
.dropdown-password{margin-top: 36px !important;}

footer{position: fixed; bottom: 0;}

.sign-up-form{
  padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  margin-top: 50px;
}

.sign-up-form h2{padding-bottom: 20px;}

input.form-control{
  color: #98bf11;
  /*border: 1px solid #98bf11;*/
}

::-webkit-input-placeholder {
    color: #98bf11;
}
:-moz-placeholder {
    color: #98bf11;
}
::-moz-placeholder {
    color: #98bf11;
}

:-ms-input-placeholder {
    color: #98bf11;
}

input.form-control::-webkit-input-placeholder,
{
  color: #98bf11;
}
/*.btn-login{
  border-radius: 20px;
  -webkit-border-radius: 20px;
}
.btn{
  border-radius: 20px;
  -webkit-border-radius: 20px;
}
*/

.dropdown-menu{min-width: 300px; padding: 10px;}
.dropdown-menu a{color: #9c9aa0 !important;}
.ct-padding{padding-bottom: 150px;}
.logo img{width: 200px;}
.second_color{color: #9c9aa0;}
header nav.header{padding: 10px;border-bottom: 5px solid #98bf11;}
.section-one{padding-top: 40px;}
.section-one h1, .section-one h2{text-align: center; font-weight: bold;}

section{min-height: 100px; padding: 50px 0px;}

.section-two{padding-bottom: 75px; padding-top: 100px;}
.section-three{min-height: 700px;}
.section-one{min-height: 648px;}
.section-five{padding-top: 30px; margin-bottom: 100px;}
.section-four{padding-bottom: 50px;}
.section-four .title-1{margin-top: 40px;}
.text-info{color: #9c9aa0; text-align: center; font-size: 20px;margin-top: 50px; margin-bottom: 20px;}

input.email-input{
	width: 80%; 
	padding: 10px 12px 10px 16px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	border: none;
	background: #d8d9de;
}

.btn-subscribe{
	background: #98bf11;
	color: #fff;
	border: none;
	padding: 10px 10px 10px 10px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	position: absolute;
	width: 120px;
	margin-left: -30px;
	cursor: pointer;
}

.btn-subscribe:hover{background: #9c9aa0;}

.form-subscribe .btn-group{
	width: 100%;
}

.no-padding{padding: 0px !important;}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none !important;
}

.title-1{
	font-size: 35px; 
	font-weight: bold; 
	text-align: center;
}

.title-1:before{
	display: inline-block;
	width: 60px;
	height: 23px;
	content: "";
	background-size: 100%;
}

.title-1:after{
	display: inline-block;
	width: 50px;
	height: 25px;
	content: "";
	background-size: 100%;
	/*margin-right: 10px;*/
}
.desc{text-align: center; font-size: 18px;}
.desc, .desc-detail{color: #9c9aa0;}
footer ul li a{
	float: left;
	color: #fff;
}
footer{background: #595658; height: 100px; padding-top: 20px;}
footer { width: 100%; overflow: hidden; }
footer ul { list-style: none; position: relative; float: left; display: block; left: 50%; }
footer ul li { position: relative; float: left; display: block; right: 50%; margin-left:30px;}
.copyright{color: #fff;}
footer p{text-align: center; margin-top: 10px;}
footer ul li a:hover{color: #98bf11;}
.ready{padding: 10px;font-size: 20px; text-align: center;}

.arrow-up {
	background-size: 100%;
	position: absolute;
	margin-top: -75px;
	height: 40px;
	width: 100%;
}

.how-it-works {margin-top: 20px; padding: 25px !important;}
.how-it-works img{height: 140px;}

.about-us-text{font-size: 18px;}

.logo-instabuyback img{margin-top: 25px;}
.about-us-detail{padding-top: 40px;}

.our-markets{margin-top: 50px;}
.cs {margin-top: 20px;}

.liberty{
	background-position: center;
	background-size: 180px 180px;
}

.greenwich{
	background-position: center;
	background-size: 175px 175px;
}

.pipe-top{
	position: absolute;
	background-size: 100%;
	width: 925px;
	height: 500px;
	margin-top: 162px;
	margin-left: 100px;
}

.pipe-top-vertical{
	position: absolute;
	background-size: 75%;	
	width: 300px;
	height: 300px;
}

.pipe-bottom{
	position: absolute;
	background-size: 100%;
	width: 900px;
	height: 533px;
	margin-top: -140px;
	margin-left: 97px;
}

.pipe-bottom-vertical{
	position: absolute;
	background-size: 100%;
	width: 100px;
	height: 400px;
}

.cars{
	position: absolute;
	background-size: 100%;
	width: 700px;
	height: 250px;
	margin-top: 245px;
	margin-left: 220px;
}

.box-img{width: 180px; height: 180px; border-radius: 50%; overflow: hidden; margin: auto;}

ul.nav.navbar-nav.navbar-right{padding-top: 10px;}


/* responsive css */

@media (max-width: 400px) and (min-width: 200px){
	.arrow-up{
		margin-top: -60px;
	}
}

@media (min-width: 401px) and (max-width: 755px){
	.arrow-up{
		margin-top: -60px;
	}
}
@media (min-width: 750px) and (max-width: 950px){
	.arrow-up{
		margin-top: -65px;
	}
}

@media (min-width: 993px) and (max-width: 1200px){
  .pipe-top, .pipe-bottom{margin-left: 50px;}
  .cars{margin-left: 150px;}
}

@media (min-width: 768px) and (max-width: 992px){
  .pipe-top{
  	width: 610px;
    height: 500px;
    margin-top: 217px;
    margin-left: 66px;
  }
  .pipe-bottom{
    width: 600px;
    height: 533px;
    margin-top: -80px;
    margin-left: 49px;
  }
  .cars{
  	width: 500px;
    height: 250px;
    margin-top: 190px;
    margin-left: 100px;
  }
  .section-three{padding-top: 20px; min-height: 450px;}
  .about-us-detail{padding-top: 0px;}
}

@media(max-width: 768px){
	.pipe-top-vertical{
		margin-top: 200px;
    margin-left: 230px;
	}
	.pipe-bottom-vertical{
    margin-top: -45px;
    margin-left: 50px;
  }
  .section-three{padding-top: 5px; min-height: 555px;}
  .about-us-detail{padding-top: 0px;}
  .about-us-text{font-size: 14px;}
  .cars{
    width: 500px;
    height: 250px;
    margin-top: 290px;
    margin-left: 29px;
  }
}

@media(max-width: 540px){
	.pipe-top-vertical{
		width: 260px;
		margin-top: 175px;
		margin-left: 155px;
	}
	.pipe-bottom-vertical{
    margin-top: -45px;
    margin-left: -20px;
  }
  .section-three{padding-top: 5px; min-height: 555px;}
  .about-us-detail{padding-top: 0px;}
  .about-us-text{font-size: 14px;}
  .cars{
  	width: 400px;
    height: 250px;
    margin-top: 290px;
    margin-left: -23px;
  }
}

@media(max-width: 505px){
	.pipe-top-vertical{
		width: 220px;
		margin-top: 200px;
	}

  .pipe-bottom-vertical{
    margin-top: -45px;
    margin-left: -20px;
  }
  .section-three{padding-top: 5px; min-height: 555px;}
  .about-us-detail{padding-top: 0px;}
  .about-us-text{font-size: 14px;}
  .cars{
  	width: 400px;
    height: 250px;
    margin-top: 290px;
    margin-left: -23px;
  }
}

@media(max-width: 400px){
	.pipe-top-vertical{
		width: 220px;
    margin-top: 130px;
    margin-left: 100px;
  }
  .pipe-bottom-vertical{
    margin-top: -45px;
    margin-left: -20px;
  }
  .section-three{padding-top: 5px; min-height: 555px;}
  .about-us-detail{padding-top: 0px;}
  .about-us-text{font-size: 14px;}
  .cars{
  	width: 400px;
    height: 250px;
    margin-top: 290px;
    margin-left: -23px;
  }
  .section-one{padding-top: 0px; min-height: 485px;}
  .text-info{
  	font-size: 15px;
    margin-top: 15px;
  }
  .form-subscribe form{margin-left: -30px;}
  h1{font-size: 25px;}
}

@media(max-width: 390px){
	.pipe-top-vertical{
		width: 220px;
    margin-top: 180px;
    margin-left: 100px;
  }
  .pipe-bottom-vertical{
    margin-top: -45px;
    margin-left: -20px;
  }
  .section-three{padding-top: 5px; min-height: 555px;}
  .about-us-detail{padding-top: 0px;}
  .about-us-text{font-size: 14px;}
  .cars{
  	width: 325px;
    height: 250px;
    margin-top: 290px;
    margin-left: -23px;
  }
  .section-one{padding-top: 0px; min-height: 485px;}
  .text-info{
  	font-size: 15px;
    margin-top: 15px;
  }
  .form-subscribe form{margin-left: -30px;}
  h1{font-size: 25px;}
  .title-1 {font-size: 25px;}
}